{% extends "layout.html" %}

{% block body %}
<h3>My profile</h3> <hr>

{% if my_tasks is defined %}
  <h5>My tasks</h5>
    Done
    {% for row in my_tasks %}
      {% if row.id == current_user.id %}
        {% if row.done == 1 %}
          <li>{{ row.task }}</li>
        {% endif %}
      {% endif %}
    {% endfor %}
    Not done
    {% for row in my_tasks %}
      {% if row.id == current_user.id %}
        {% if row.done == 0 %}
          <li>{{ row.task }}</li>
        {% endif %}
      {% endif %}
    {% endfor %}
{% endif %}


{% if current_user.id == 1 %}
  <br /><hr>
  <p>käyttäjä 1</p>
  <form method="POST" action="{{ url_for('delete_user', user_id=4) }}">
    <input type="submit" value="Remove user 4" style="width:150px"/>
  </form>
{% endif %}

{% endblock %}
