{% extends "layout.html" %}

{% block body %}

<h3>Create your new account here</h3><hr><br />

<form method="POST" action="{{ url_for('create_new_user') }}">
  <table>
    <tr>
      <td>{{ form.username.label }}</td>
      <td>{{ form.username }}</td>
      <td>{% for error in form.username.errors %}
            <span style="color: red;">{{ error }}</span>
          {% endfor %}
      </td>
    </tr>
    <tr>
      <td>{{ form.password.label }}</td>
      <td>{{ form.password }}</td>
      <td>{% for error in form.password.errors %}
            <span style="color:red;">{{ error }}</span>
          {% endfor %}
      </td>
    </tr>
    <tr>  <!-- password 2 has to match password -->
      <td>{{ form.password2.label }}</td>
      <td>{{ form.password2 }}</td>
      <td>{% for error in form.password2.errors %}
            <span style="color:red;">{{ error }}</span>
          {% endfor %}
      </td>
    </tr>
    <tr>
      <td></td>
      <td>{{ form.submit }}</td>
    </tr>
  </table>
</form>

{% endblock %}
