{% extends "layout.html" %}

{% block body %}
  <h3>List of tasks</h3>

  {% if total_number_of_tasks is defined %}
    {% for users in total_number_of_tasks %}
      <p>Total number of tasks: {{ users.total }} </p><hr>
    {% endfor %}
  {% endif %}

  <table>
    <tr>
      <th>Task</th>
      <th>Done</th>
      <th><center>Change status</center></th>
      <th><center>Take ownership</center></th>
    </tr>
    {% for task in tasks %}
    <tr>
      <td>{{ task.name }}</td>
      <td>{% if task.done == 1 %} Done {% else %} Undone {% endif %}</td>
      <td>{% if current_user.is_authenticated and current_user.id == task.account_id %}
            <form method="POST" action="{{ url_for('tasks_set_done', task_id=task.id) }}">
              <input type="submit" value="Change status"/>
            </form>
          {% endif %}</td>
      <td><form method="POST" action="{{ url_for('tasks_take_ownership', user_id=current_user.id) }}">
            <center><input type="submit" value="I will do it!"/></center>
          </form></td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}
